#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NUM 1
#define NAV 2

/ {

    keymap {
        compatible = "zmk,keymap";

        colemak_dhm_layer {
            label = "Colemak-DHm";
            bindings = <
                &kp GRAVE  &kp LPAR   &kp RPAR   &kp MINUS  &kp EQUAL  &kp N5        &kp BSPC   &kp CARET  &kp DOLLAR &kp LBKT   &kp RBKT   &kp BSLH
                &kp TAB    &kp Q      &kp W      &kp F      &kp P      &kp B         &kp J      &kp L      &kp U      &kp Y      &kp EXCL   &kp AT
                &kp LCTRL  &kp A      &kp R      &kp S      &kp T      &kp G         &kp M      &kp N      &kp E      &kp I      &kp O      &kp QUOT
                &kp LSHFT  &kp Z      &kp X      &kp C      &kp D      &kp V         &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
                                     &mo  NUM    &kp LALT   &kp LCMD    &kp RETURN  &kp SPACE   &kp RCMD   &kp RALT    &mo NAV
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
                &trans     &trans     &trans     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &kp UP     &trans     &trans        &trans     &kp N7     &kp N8     &kp N9     &trans     &trans
                &trans     &trans     &kp LEFT   &kp DOWN   &kp RIGHT  &trans        &trans     &kp N4     &kp N5     &kp N6     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans        &trans     &kp N1     &kp N2     &kp N3     &trans     &trans
                                     &trans      &trans     &trans      &trans      &trans      &kp N0     &kp DOT     &trans
            >;
        };

        nav_layer {
            label = "Nav";
            bindings = <
                &trans     &trans     &trans     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &kp N7     &kp N8     &kp N9     &trans        &trans     &trans     &kp UP     &trans     &trans     &trans
                &trans     &trans     &kp N4     &kp N5     &kp N6     &trans        &trans     &kp LEFT   &kp DOWN   &kp RIGHT  &trans     &trans
                &trans     &trans     &kp N1     &kp N2     &kp N3     &trans        &trans     &trans     &trans     &trans     &trans     &trans
                                     &trans      &kp DOT    &kp N0      &trans      &trans      &trans     &trans      &trans
            >;
        };
    };
};
